.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 300px;
}

img {
    width: 300px;
    height: 180px;
    border-radius: 3px;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 2px solid #adb5bd;
    border-radius: 3px;
    border-bottom: none;
}

h5 {
    margin-top: 8px;
    font-size: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 2px solid #adb5bd;
    border-radius: 3px;
    padding: 3px;
    border-bottom: none;
}


.main label {
    margin-bottom: 8px;
    font-size: 0.9rem;
}

#playTo {
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 2em;
}

.btn {
    font-size: 0.9em;
    align-self: center;
}

#instructions {
    font-size: 0.7rem;
    margin-bottom: 8px;
}